In [1]:
import pandas as pd

In [2]:
import eurostat

In [3]:
cp = eurostat.get_data_df("EI_CPHI_M")

In [4]:
cp

,freq,unit,s_adj,indic,geo\TIME_PERIOD,1996-01,1996-02,1996-03,1996-04,1996-05,...,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10
0,M,HICP2015,NSA,CP-HI00,AT,71.34,71.55,71.77,71.69,71.62,...,113.93,115.40,118.00,118.75,119.60,120.99,121.67,121.52,124.48,126.05
1,M,HICP2015,NSA,CP-HI00,BE,69.91,69.98,70.12,70.47,70.61,...,116.99,119.49,120.28,120.61,121.61,122.82,122.03,124.24,125.90,129.30
2,M,HICP2015,NSA,CP-HI00,BG,NaN,NaN,NaN,NaN,NaN,...,114.80,116.16,118.59,121.12,122.74,124.16,125.18,126.20,127.10,NaN
3,M,HICP2015,NSA,CP-HI00,CH,NaN,NaN,NaN,NaN,NaN,...,101.69,102.25,102.73,103.15,103.72,104.27,104.42,104.72,104.53,NaN
4,M,HICP2015,NSA,CP-HI00,CY,66.48,64.45,66.46,66.76,66.96,...,103.33,104.22,106.13,109.38,110.06,111.34,113.22,113.80,112.63,113.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3034,M,RT12,NSA,CP-HIS,SE,NaN,NaN,NaN,NaN,NaN,...,2.40,2.70,3.00,3.80,4.20,4.60,4.60,4.50,4.70,NaN
3035,M,RT12,NSA,CP-HIS,SI,NaN,NaN,NaN,NaN,NaN,...,3.50,3.70,3.50,5.00,5.10,5.80,6.00,6.10,5.90,NaN
3036,M,RT12,NSA,CP-HIS,SK,NaN,NaN,NaN,NaN,NaN,...,6.20,6.60,8.60,9.90,10.20,10.40,10.40,11.20,9.30,9.20
3037,M,RT12,NSA,CP-HIS,TR,NaN,NaN,NaN,NaN,NaN,...,29.60,32.90,36.80,42.20,45.80,48.60,51.40,54.30,57.70,NaN
3038,M,RT12,NSA,CP-HIS,UK,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cp[cp.index>=3036]

In [ ]:
# loc
cp.loc[3036:3038]

In [ ]:
# group
cg = cp.groupby(["indic", "unit"]).count()
cg

In [ ]:
cg.loc["CP-HIS"]

In [ ]:
cg.loc["CP-HIS"].plot()

In [ ]:
cg.iloc[-1]

In [ ]:
cg.iloc[0]